<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./log/crud.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./log/crud.%d{yyyy-MM-dd-HH-mm}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Setting the root level of logging to INFO -->
	<logger name="com.crud" level="INFO">

		<appender-ref ref="FILE" />

	</logger>

	<root level="INFO">

		<appender-ref ref="FILE" />

	</root>

</configuration>